.form_infos_comerciais{
	max-width: 600px;
    margin: auto;
}

.form_infos_comerciais label{
	padding: 15px 0 5px 0;
    width: 95%;
    margin: auto;
}

.estabelecimentos_lista{
	display: block;
	padding: 15px;
	max-width: 500px;
}

.estabelecimento_mais_detalhes{
	padding: 15px;
	display: block;
	max-width: 900px;
}

.estabelecimentos_container{
	max-width: 1300px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 35px;
}

.lista_estabelecimentos li{
	padding: 15px;
	margin: 5px
}

.lista_estabelecimentos li:hover{
	color: #fff;
}