body, div, h1, h2, h3, h4, h5, h6, span, ul, ol, li, a, i, header, main, footer, input, textarea, select, option, p label {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

label{
	display: block;
}

ul, ol, li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
	font-family: Divinne;
	src: url(../fonts/Postface.otf);
}

@font-face {
	font-family: Divinne;
	src: url(../fonts/Postface.ttf);
}

/* == HEADER == */

.header {
	height: 80px;
	width: 100%;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	top: 0;
	z-index: 999;
}

.header i {
	height: 80px;
	width: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 34px;
	transition: .2s;
}

.header i:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.logo {
	display: block;
	height: 100%;
	width: 115px;
	text-align: center;
	font-size: 45px;
	line-height: 85px;
	font-family: Divinne;
}

/* == REDES SOCIAIS == */

.redes_socias {
	width: 100%;
	position: fixed;
	top: 80px;
	display: flex;
	justify-content: flex-end;
	padding: 0 16px;
}

.redes_socias a {
	background-color: #2d2f31;
	height: 40px;
	width: 50px;
	text-align: center;
	padding: 10px;
	margin-left: 10px;
	border-bottom-left-radius: 10px;
	transition: .2s;
}

.redes_socias a:hover {
	padding-top: 15px;
	height: 45px;
}

.redes_socias i {
	font-size: 22px;
}

.espacador {
	height: 80px;
	width: 100%;
}

/* == SUB MENU == */

.menu_lateral {
	height: 100%;
	width: 0;
	position: fixed;
	background-color: rgb(0, 0, 0, .9);
	margin-top: 80px;
}

.menu_esquerda {
	left: 0;
}

.menu_direita {
	right: 0;
}

.menu_esquerda_container {
	overflow: hidden;
}

.menu_esquerda_container li {
	font-family: sans-serif;
	font-size: 22px;
	color: #feba00;
	padding: 5px;
	margin-bottom: 5px;
}

.menu_esquerda_container li:hover {
	cursor: pointer;
	opacity: .5;
}

.menu_direita_container {
	margin-top: 150px;
	overflow: hidden;
}

.menu_direita_container .icon {
	color: #feba00;
	font-size: 34px;
	line-height: 80px;
	transition: .2s;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu_navegacao {
	padding-top: 15px;
}

#menu_navegacao a {
	display: block;
	height: 100%;
	width: 100%;
}

/* == MAIN == */

main {
	height: auto;
}

/* == PAGINAS == */

.section_principal {
	min-height: 900px;
	width: 100%;
	background: #40e079 url(../img/hm.jpg);
	margin: auto;
}

.section_principal h2 {
	display: none;
}

.section {
	padding: 55px 0;
}

.section_titulo {
	text-align: center;
	font-size: 35px;
	padding-bottom: 35px;
	font-family: Divinne;
}

.section_conteudo_center {
	max-width: 1300px;
	margin: auto;
}

.section_desc{
	max-width: 600px;
	padding: 0 15px;
	margin: 5px auto;
	font-size: 20px;
}

/* == FORMULÁRIO BASE == */

input[type=text], input[type=email], textarea, select {
	font-size: 18px;
	padding-left: 10px;
	margin: auto;
	display: block;
	border-radius: 5px;
	color: #222;
	border: 1px solid #999;
}

input[type=text], input[type=email] {
	width: 95%;
	height: 50px;
}

textarea {
	width: 95%;
	height: 75px;
	resize: none;
	padding-top: 5px;
	overflow: auto;
	font-family: inherit;
}

select {
	width: 95%;
	height: 50px;
	font-family: sans-serif;
}

.flex_center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.btn{
	height: 50px;
	padding: 0 25px;
	margin: 0 10px;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	transition: .2s;
	box-shadow: 0 0 5px #000000;
}

.btn:hover{
	cursor: pointer;
	box-shadow: 0 0 2px #000000;
}

.section_header {
	padding: 35px;
}

.section_header h2 {
	padding-top: 0px;
}

.section_header p {
	width: 1000px;
	text-align: center;
	margin: auto;
}

/* == CHAT - BOT == */

.btn_chat_bot {
	height: 48px;
	width: 48px;
	background-color: #2d2f31;
	position: fixed;
	right: 16px;
	bottom: 16px;
	box-shadow: 0px 0px 5px 0px #6d6d6d;
	border-radius: 10px 0 10px 10px;
	text-align: center;
	transition: .3s;
}

.btn_chat_bot i {
	line-height: 45px;
	font-size: 28px;
	color: #feba00;
	transition: .2s;
}

.btn_chat_bot i:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.chat_container {
	background-color: #ececec;
	height: 85%;
	width: 90%;
	margin: auto;
	display: none;
	border-radius: 15px;
}

.chat_messages {
	height: 90%;
}

.chat_input {
	height: 10%;
}

/* == FOOTER == */

footer {
	min-height: 50px;
	width: 100%;
	background-color: #2d2f31;
}

/* == FOOTER - PRINCIPAL == */

.footer_principal {
	height: 80%;
	width: 100%;
	text-align: center;
	color: #fff;
}

.footer_container {
	max-width: 1000px;
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
}

.footer_container div {
	height: 150px;
	width: 230px;
}

.footer_container h4 {
	padding-bottom: 18px;
}

.footer_container li {
	margin-bottom: 2px;
}

/* == FOOTER - SECUNDÁRIO == */

.footer_secundario {
	height: 20%;
	width: 100%;
	background-color: #1c1c1d;
}

.footer_secundario p {
	font-size: 16px;
	display: block;
	padding: 10px;
	height: 100%;
	width: 100%;
	color: #666;
	text-align: center;
}

.ic_coracao {
	padding: 0 3px;
	font-size: 15px;
	color: #ff004c;
}

.footer_secundario a {
	padding: 0 3px;
	color: #888;
}

.footer_secundario span {
	font-weight: bold;
}

/* == PADRÃO FORMULÁRIOS */

.a {}

.a:hover {
	color: #feba00;
	text-decoration: underline;
}

.text {
	display: block;
	margin-bottom: 15px;
	height: 45px;
	width: 100%;
	border: 2px solid #feba00;
	border-radius: 15px 2px 15px 15px;
	box-sizing: border-box;
}

.submit {
	height: 45px;
	width: 80%;
	margin: auto;
	border: none;
	border-radius: 15px 2px 15px 15px;
	font-size: 20px;
	background-color: #feba00;
}

.submit:hover {
	cursor: pointer;
	background-color: #dba81b;
}