
.section_produtos{
    min-height: 500px;
    background: linear-gradient( -45deg, #1A9E89, #40e079);
	background-color: #f0f8ff;
	margin: 80px auto 0 auto;
}

.produtos_container{
    margin: auto;
}

.produto_esquerda{
    margin: auto;
    background-color: #f0f8ff;
}

.produto_direita{
    width: 1300px;
    margin: auto;
}

.produto{
    min-height: 100px;
    margin-bottom: 16px;
    padding: 40px;
}

.produto h3{
    text-align: center;
    padding: 16px;
    font-size: 42px;
}

.produto_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto_info p{
    height: 100px;
    width: 700px;
}

.produto_info img{

}