<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Site da POP's Soda Drink">
    <meta name="keywords" content="POP's Soda Drink">
    <meta name="author" content="Owl Sofware">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="_img/favicon.png" type="image/x-icon">

    <title>POP'S Soda Drink</title>

    <link media="screen" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/produtos.css">
    <link rel="stylesheet" href="fonts/font_awesome/css/all.min.css">
</head>

<body>
    <!-- CABEÇALHO -->
    <header class="header">
        <div class="navegacao">
            <nav class="nav_principal">
                <a href="index.html">
                    <img src="_img/logo.png" alt="POP'S SODA DRINK logo" class="logo">
                </a>

                <ul class="menu_itens">
                    <li class="menu_item"><span class="click_trigger" data-id="1">Produtos<i class="fas fa-angle-down"></i></span></li>
                    <li class="menu_item"><span class="click_trigger" data-id="2">POP's +<i class="fas fa-angle-down"></i></span></li>
                    <li class="menu_item"><span class="click_trigger" data-id="3">Sobre nós<i class="fas fa-angle-down"></i></span></li>
                    <li class="menu_item"><span class="click_trigger" data-id="4">Contato<i class="fas fa-angle-down"></i></span></li>
                </ul>
            </nav>
            <div class="nav_secundaria">

                <a class="btn-entrar" href="">Entrar</a>
                <a class="btn-cadastro" href="">Cadastre-se</a>

            </div>
        </div>

        <!-- REDES SOCIAIS -->
        <div class="redes_socias">
            <a href="http://www.facebook.com.br" rel="nofollow noopener external" target="_blank" aria-label="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="http://www.youtube.com" rel="nofollow noopener external" target="_blank" aria-label="youtube">
                <i class="fab fa-youtube"></i>
            </a>

            <a href="http://www.twitter.com.br" rel="nofollow noopener external" target="_blank" aria-label="twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

        <!-- SUB MENU -->
        <div class="sub_menu">

            <ul>
                <li><a href="produtos/produtos.html">Produtos</a></li>
                <li><a href="">Promoções</a></li>
                <li><a href="">Fique por dentro</a></li>
                <li><a href="">Hisória da empresa</a></li>
                <li><a href="">Missão, visão e valores</a></li>

            </ul>

            <h4>POP's +</h4>
            <ul>
                <li><a href="">POP's na escola com você</a></li>
                <li><a href="">Nossos vídeos</a></li>
                <li><a href="">Próximos eventos</a></li>
                <li><a href="">POP's patrocina</a></li>
            </ul>

            <h4>Para empresas</h4>
            <ul>
                <li><a href="">Informações comerciais</a></li>
                <li><a href="">Fale conosco</a></li>
                <li><a href="">????</a></li>
            </ul>

        </div>
    </header>

    <!-- <section class="section_principal">
        <h2>ALGUMA COISA IMPORTANTE</h2>
    </section> -->

    <section class="section_produtos">
        <h2>Nossos produtos</h2>
        <div class="produtos_container">
            <div class="produto produto_esquerda">
                <h3>titulo</h3>
                <div class="produto_info">
                    <img src="_img/coca_cola.png" alt="">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus soluta culpa ipsa esse non,
                        exercitationem nisi repudiandae voluptas similique neque laboriosam eos, sint veniam, ipsam
                        dolorem qui autem deleniti numquam?
                    </p>
                </div>
            </div>

            <div class="produto produto_direita">
                <h3>titulo</h3>
                <div class="produto_info">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus soluta culpa ipsa esse non,
                        exercitationem nisi repudiandae voluptas similique neque laboriosam eos, sint veniam, ipsam
                        dolorem qui autem deleniti numquam?
                    </p>
                    <img src="_img/coca_cola.png" alt="">
                </div>
            </div>

            <div class="produto produto_esquerda">
                <h3>titulo</h3>
                <div class="produto_info">
                    <img src="_img/coca_cola.png" alt="">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus soluta culpa ipsa esse non,
                        exercitationem nisi repudiandae voluptas similique neque laboriosam eos, sint veniam, ipsam
                        dolorem qui autem deleniti numquam?
                    </p>
                </div>
            </div>

            <div class="produto produto_direita">
                <h3>titulo</h3>
                <div class="produto_info">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus soluta culpa ipsa esse non,
                        exercitationem nisi repudiandae voluptas similique neque laboriosam eos, sint veniam, ipsam
                        dolorem qui autem deleniti numquam?
                    </p>
                    <img src="_img/coca_cola.png" alt="">
                </div>
            </div>
        </div>
    </section>




    <!-- CHAT - BOT -->

    <div class="btn_chat_bot">
        <i class="fas fa-comment" id="btn_chat"></i>

        <div class="chat_container">
            <div class="chat_messages"></div>

            <div class="chat_input">
                <form id="form_chat_bot" name="form_chat_bot" action="" autocomplete="off">
                    <input id="txt_chat" type="text" name="txt_chat">
                    <input type="submit" value="">
                </form>
            </div>
        </div>
    </div>

    <!-- FOOTER -->

    <footer>
        <div class="footer_principal">
            <div class="footer_container">

                <div>
                    <h4>Sobre nós</h4>
                    <ul>
                        <li><a href="">Produtos</a></li>
                        <li><a href="">Promoções</a></li>
                        <li><a href="">Fique por dentro</a></li>
                        <li><a href="">Hisória da empresa</a></li>
                        <li><a href="">Missão, visão e valores</a></li>

                    </ul>
                </div>
                <div>
                    <h4>POP's +</h4>
                    <ul>
                        <li><a href="">POP's na escola com você</a></li>
                        <li><a href="">Nossos vídeos</a></li>
                        <li><a href="">Próximos eventos</a></li>
                        <li><a href="">POP's patrocina</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Para empresas</h4>
                    <ul>
                        <li><a href="">Informações comerciais</a></li>
                        <li><a href="">Fale conosco</a></li>
                        <li><a href="">????</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Busque por algum produto</h4>
                    <form action="">
                        <label for="txt_presquisa">Produto :</label>
                        <input type="text" name="txt_pesquisa" id="txt_pesquisa" placeholder="Produto">
                        <input type="submit" value="aa">
                    </form>
                </div>

            </div>

        </div>
        <div class="footer_secundario">
            <p>
                Desenvolvido com
                <i class="fas fa-heart ic_coracao"></i>
                por
                <a href="http://roipinheiro.github.io" rel="nofollow noopener external" target="_blank"
                    aria-label="Owl Sofware">
                    OWL software <span>©</span>
                </a>
                2019 <span>|</span> Todos os direitos reservados
            </p>
        </div>
    </footer>

    <!-- RODA PÉ -->
    <script src="_js/jquery_min.js"></script>
    <script src="_js/index.js"></script>
</body>

</html>