<table class="tabela_padrao">
    <thead>

        <tr class="tabela_titlo">
            <th colspan="7">
                TABELA TITULO
            </th>
        </tr>
        <tr class="tabela_header">
            <th>Nome</th>
            <th>E-mail</th>
            <th>Estado</th>
            <th>Data de envio</th>
            <th>Status</th>
            <th colspan="3">Ações</th>
        </tr>

    </thead>

    <tbody>

        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>

        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>

        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
            <td>CARLIHOS CARLOS</td>
            <td>Nome@gmail.com</td>
            <td>SP</td>
            <td>21/11/1999</td>
            <td>Não lido</td>

            <td><i class="fas fa-search"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
    </tbody>
</table>